*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}


body{

    display: block;
    background-color: #57606f;
}

form .userbox{
    text-align: left;
}


form{

    background: rgba(0,0,0,.7);
    width: 500px;
    height: 350px;
    margin: auto;
    margin-top: 300px;
    padding: 30px;
    border-radius: 1.5rem;
}

form h2{

    margin-bottom: 30px;
    color: white;
    font-family: sans-serif;

}



form label{

    color: white;
    padding: 10px 0;
    font-family: sans-serif;
    transition: 0.5s;


}



form input{


    padding: 5px;
    margin-bottom: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
    font-size: 16px;
    text-align: left;
    outline: none;

}


form input:focus{


    border-bottom: 1px solid #03e9f4;

}



form a{

    color: #03e9f4;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 10px;
    overflow: hidden;
    font-family: sans-serif;
    transition: 1s;
}

form a span{

    display: block;
    position: absolute;
}



form a:hover{

    transition: 0.3s;
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
